p{
    font-family:"Cascadia Mono";
    color: maroon;
  }
  h1,h2 {
  font-family: Arial;
  color: grey;
  }
  h1 {
  border-bottom: 1px solid black;
  }
  body{
	color: royalblue;
	color: rgb(65, 105, 225);
	color: #4169E1CC;
	color: rgba(39,177,182,0.8);
	color: #2775b6CC;
  color:rgb(192, 142, 175)
  color: antiquewhite
  color:lemonchiffo
  body{
	background-color: #402322373;
 }
